html[lang="fa-IR"] {
  direction: rtl;
  text-align: right;

  font-family: "Vazirmatn", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif !important;
  code,
  kbd,
  pre,
  samp {
    font-family: "Vazirmatn", ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas", monospace !important;
  }

  line-height: 1.8;
  letter-spacing: 0.02em;
}

body {
  font-family: "Vazirmatn", system-ui, sans-serif;
}
